container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_csu:
    command: "python manage.py csu"
    leader_only: true
  03_collectstatic:
    command: "python manage.py collectstatic --noinput"
  04_load_raingages:
    command: "python manage.py runscript raingages"
  05_load_precip:
    command: "python manage.py runscript precip"
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: project.settings
