container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_csu:
    command: "python manage.py csu"
    leader_only: true
  03_collectstatic:
    command: "python manage.py collectstatic --noinput"
  04_load_srer_raingages:
    command: "python manage.py runscript srer_raingages"
  05_load_srer_precip:
    command: "python manage.py runscript srer_precip"
  06_load_wgew_raingages:
    command: "python manage.py runscript wgew_raingages"
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: project.settings
